@import 'bootstrap-sprockets';
@import 'bootstrap';

$main-color: #F76108;
$accent-color: #FEFE00;
$dark-background: #4E443E;
$dark-text: $dark-background;
$muted-text: #8C8884;

body {
  font-family: 'Open Sans', sans-serif;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 7px 0;
  ul {
    a {
      color: $muted-text;
      text-transform: uppercase;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 12px;
      font-weight: 600;
      &:hover {
        color: $main-color;
        background: none;
        border: none;
      }
    }
  }
}
