@import 'bootstrap-sprockets';
@import 'bootstrap';

$main-color: #F76108;
$accent-color: #FEFE00;
$dark-background: #4E443E;
$dark-text: $dark-background;
$muted-text: #8C8884;

@mixin title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 14px;
}

@mixin inner-article-spacing {
  margin-top: 15px;
  margin-left: 20px;
}

@mixin text {
  font-family: 'Open Sans', sans-serif;  
  font-size: 14px;
  word-spacing: 3px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
  img {
    width: 120px;
    margin-top: -15px;
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 7px 0;
  ul {
    a {
      color: $muted-text;
      text-transform: uppercase;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 12px;
      font-weight: 600;
      &:hover {
        color: $main-color;
        background: none;
        border: none;
      }
    }

    a.cta {
      &:hover {
        border-bottom: 1px solid $main-color;
        padding-bottom: 2px;
      }
    }
  }
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .tl-cat {
    @include title;
    @include inner-article-spacing;
    top: 0;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    display: block;
    border-bottom: 2px solid $accent-color;
    padding-bottom: 2px;
    color: white;
  }
}

.featured-article {
  .info {
    @include inner-article-spacing;
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    width: 100%;
    left: 0;
    .title {
      @include title;
      color: white;
      overflow: hidden;
      white-space: pre;
      text-overflow: ellipsis;
    }
    .description {
      @include text;
      color: white;
      overflow: hidden;
      white-space: pre;
      text-overflow: ellipsis;
      width: 80%;
    }
  }
}

.hero-article {
  padding: 0;
  width: 100%;
  img {
    max-width: 100%;
    height: 60vh;
    object-fit: cover;
  }
  .info {
    .title {
      @include title;
      color: $main-color;
      font-size: 22px;
    }
  }
}

.voted-articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  article {
    width: 25%;
    .tl-cat {
      font-size: 14px;
    }
    img {
      height: 30vh;
      width: 100%;
      object-fit: cover;
    }
  }
}

.form-background-page {
  background-color: $muted-text;
  display: flex;
  height: 100%;
}

.single-form-wrapper {
  width: 40%;
  margin: 60px auto;
  background: white;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 1px, 1px, 1px #4E443E;
  h1 {
    @include title;
    font-size: 25px;
    color: $dark-background;
    margin-bottom: 40px;
    font-weight: 500;
  }
  form {
    label {
      text-transform: uppercase;
      color: $muted-text;
      font-size: 12px;
    }
    .form-group {
      margin-top: 20px;
    }
    input[type="submit"] {
      background-color: $main-color;
      border: none;
      box-shadow: $dark-background;
      margin-top: 20px;
      padding: 15px;
      height: 50px;
      margin-bottom: 20px;
    }
  }
}

footer {
  .main-nav {
    background: $dark-background;
    ul {
      a.policy-links {
        color: $main-color;
      }
      
      a {
        @include text;
        text-transform: capitalize;
        font-weight: 500;
        color: white;
        font-size: 13px;
      }
    }
  }
}


.new-article {
  .form-wrapper {
    display: flex;
  }

  .image-wrapper {
    padding: 0;
    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
  .single-form-wrapper {
    width: 100%;
    margin: 10px 0;
    .form-group {
      span {
        font-size: 12px;
        float: right;
      }
    }
  }
}

.category-page {
  padding: 0;
  .article {
    width: 50%;
    display: flex;
    flex-direction: row;
    height: 55vh;
    
    img {
      width: 50%;
      height: 100%;
      order: 1;
    }
    .information {
      order: 2;
      height: 100%;
      width: 50%;
      padding: 10px 15px;
      position: relative;
      .cat {
        @include title;
        color: $main-color;
        border-bottom: 2px solid $main-color;
        padding-bottom: 2px;
      }
      
      .title {
        @include title;
        margin-top: 15px;
      }
      
      .description {
        margin-top: 15px;
        height: 50%;
      }
      .votes-wrapper {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;

        & > * {
          margin: 5px;
        }
        
        .vote-btn {
          width: 50px;
          height: 50px;
          border-radius: 100%;
          border: 1px solid rgba($color: $dark-background, $alpha: 0.6) ;
          padding: 5px;
          display: block;
          img {
            width: 70%;
            height: 80%;
            margin-top: 5px;
            margin-left: 5px;
          }
        }
      }
    }

    .image-reversed {
      order: 2;
    }

    .information-reversed {
      order: 1;
    }
  }
}

.error {
  color: red;
}

.social-icons {
  img {
    width: 30px;
    height: 30px;
    margin-top: -3px;
  }
}