<div class="container-fluid">
  <div class="row">
    <article class="col-sm-12 article featured-article hero-article">
      <span class="tl-cat">FEATURED ARTICLE</span>
      <img class="img-responsive" src="https://www.usanetwork.com/sites/usanetwork/files/2019/07/Suits_S9-KeyArt-Show-Tile-1920x1080.jpg" alt="suits image" />
      <div class="info">
        <h1 class="title">The vintage crew rolls into town ! </h1>
        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
    </article>
    <div class="voted-articles">
      <%if !@categories%>
        <% 8.times do |i|%>
          <article class="featured-article article">
            <span class="tl-cat">FEATURED ARTICLE</span>
            <img class="img-responsive" src="https://www.usanetwork.com/sites/usanetwork/files/2019/07/Suits_S9-KeyArt-Show-Tile-1920x1080.jpg" alt="suits image" />
            <div class="info">
              <h4 class="title">
                Title
              </h4>
            </div>
          </article>
        <%end%>
      <%else%>
        <% @categories.each do |cat|%>
          <article class="featured-article article">
            <span class="tl-cat"><%= cat.name%> </span>
            <img class="img-responsive" src="https://www.usanetwork.com/sites/usanetwork/files/2019/07/Suits_S9-KeyArt-Show-Tile-1920x1080.jpg" alt="suits image" />
            <div class="info">
              <h4 class="title">
                <%= cat.latest_article.title if cat.latest_article %>
              </h4>
            </div>
          </article>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
