<nav class="main-nav">
  <a href="#" class="navbar-brand">Logo</a>
  <ul class="nav navbar-nav articles-categories">
    <li class="nav-item"> <a href="#">HOME</a> </li>
    <li class="nav-item"> <a href="#" class="cta">WRITE AN ARTICLE</a> </li>
  </ul>
  <ul class="nav navbar-nav">
    <li><a href="#">Login</a></li>
    <li><a href="#">|</a></li>
    <li><a href="#">Register</a></li>
    <li><a href="#">Buscar</a></li>    
  </ul>
</nav>
